{% extends 'base.html' %}
{% load static %}
{% block title %} Contacts {% endblock %}

{% block content %}
<main class="main">
  <div class="col-lg-7">
    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
      <div class="row gy-4">

        <div class="col-md-6">
          <label for="name">Your Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" required="">
        </div>

        <div class="col-md-6">
          <label for="email">Your Email</label>
          <input type="email" id="email" class="form-control" name="email" placeholder="Your Email" required="">
        </div>

        <div class="col-md-12">
          <label for="subject">Subject</label>
          <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" required="">
        </div>

        <div class="col-md-12">
          <label for="message">Message</label>
          <textarea id="message" class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
        </div>

        <div class="col-md-12 text-center">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>

          <button type="submit">Send Message</button>
        </div>

      </div>
    </form>
  </div><!-- End Contact Form -->
</main>
{% endblock %}
